body {
  font-family: Arial, sans-serif; /* Set default font family for the body */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #3a424a; /* Set background color for the body */
}
